@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');




:root {

    /* Cores */

    --cor_primaria: #7a7777;

    /* Fontes */
    --fonte_logo: "Playwrite HU", cursive;

    --fonte_tamanho_logo: 1.5em;

    --fonte_menu_principal: "Playwrite HU", cursive;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cabecalho {
    border-bottom: 2px solid rgba(255, 255, 255, 0.993);

    background-color: rgb(0, 0, 0);
    padding: 10px;



    display: grid;


    /* 1° coluna 2° colunas */
    grid-template-columns: 1fr 4fr;

    /* row column */
    gap: 0px 100px;

}

#logo {

    display: flex;
    /*  utilizado para alinhar ao centro */

    align-items: center;
    justify-content: center;

    height: 100px;


}

#logo p {
    background-color: rgb(255, 255, 255);
    /* Fonte Família Tipo  */
    font-family: var(--fonte_logo);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: var(--fonte_tamanho_logo);
    /* rem (Raiz, html) ou em (Pai) */

    line-height: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;

    text-align: justify;

    text-transform: capitalize;

    text-decoration: none;
    /* Eixo X Eixo Y Esfumaçado cor/opacidade 
    text-shadow: 2px 2px 10px rgba(0,0,0,.5) ;*/

    color: var(--cor_primaria);
}

#menu_principal {

    padding: 0 10px;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;

    font-family: var(--fonte_menu_principal);
    font-weight: 400;
    font-style: normal;

    display: grid;

    grid-template-columns: 1fr;

    /* Align(vertical) justify(honrizontal) */

    place-items: center end;
}



#itens_menu ul {
    padding: 10px;

    display: flex;

    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

#itens_menu li {

    /* background-color: var(--cor_primaria);*/

    background-color: rgb(255, 255, 255);
    padding: 10px;

    border-radius: 50px;
}

#itens_menu li:hover {
    border-bottom: 4px solid var(--cor_primaria);
    color: var(--cor_primaria);
    cursor: pointer
}

/* Pseudoclasse */
/* #quem_sou:hover{ 
   background: radial-gradient(var(--cor_primaria) , rgb(254, 254, 255));
   
} */

#quem_sou.desktop {

    background-attachment: fixed;


    padding: 10px;


    justify-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
}

#quem_sou.mobile {

    background-attachment: fixed;


    padding: 10px;

    display: none;

    justify-items: start;


    grid-template-columns: 1fr;
    gap: 0px 10px;
}

#informacoes_texto {

    padding: 10px;
    display: grid;


    grid-template-columns: 1fr;

    /* tamanho das linhas em ordem  */
    grid-template-rows: 3fr 1fr 1fr;

    gap: 10px 0px;
}

#botao_informacoes {
    justify-self: start;
}

#titulo_informacoes {

    font-family: var(--fonte_menu_principal);
    color: rgb(0, 0, 0);
    font-size: 2rem;

    justify-items: center;
}

#botao_informacoes button {

    padding: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    color: white;


    border-radius: 5px;


    box-shadow: 1px 1px 10px rgb(0, 0, 0.5);

    margin-top: 10px;
}

#botao_informacoes button:hover {
    background-color: gray;
    cursor: pointer;
}

#redes_sociais_informacoes {


    padding: 10px;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 50px 50px;
    place-items: center start;
    gap: 10px;
}

.redes_sociais:hover {

    cursor: pointer;
    opacity: 0.5;
}

#foto {

    padding: 10px;
    border-radius: 100px;
}

#foto figure img {
    border-radius: 1000px;
    box-shadow: rgba(0, 0, 0, .5);
}

#rodape {
    background-color: black;
    height: 400px;

    display: none;

    grid-template-columns: 100%;
    place-items: center center;
}

#marlon {
    background-color: rgb(225, 228, 228);
    height: 70px;
    width: 500px;
}

#redes_sociais_atividade {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center center;
    gap: 10px;
}

#facebook {
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}

#instagram {
    background-color: rgb(252, 0, 0);
    height: 30px;
    width: 30px;
}

#twiteer {
    background-color: rgb(255, 239, 17);
    height: 30px;
    width: 30px;
}

#informacoes {
    background-color: aqua;
    height: 30px;
    width: 300px;
}

#cabecalho2 {
    background-color: rgb(0, 0, 0);
    padding: 50px;

    display: none;

    grid-template-columns: 1fr;
    place-items: center;
}

#sobre {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 400px;

    display: none;

    justify-content: center;
    align-items: center;

    border-radius: 50px;
}

#sobre_marlon {
    background-color: rgb(29, 191, 255);
    height: 500px;

    padding: 10px;
    gap: 0px 10px;


    display: none;
    grid-template-columns: 1fr 1fr;

}

#foto_atividade {
    background-color: rgb(218, 6, 6);
}

#texto_atividade {
    background-color: blue;
}

#cabecalho3 {
    background-color: rgb(0, 0, 0);
    padding: 50px;

    display: none;

    grid-template-columns: 1fr;
    place-items: center;
}

#skills {
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 400px;

    display: none;

    justify-content: center;
    align-items: center;

    border-radius: 50px;
}

#profissional {
    background-color: blueviolet;
    height: 500px;
    padding: 10px;

    display: none;

    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
}

#assunto {
    background-color: rgb(3, 7, 236);

    display: grid;

    grid-template-columns: 1fr 1fr;
}

#foto_profissional {
    background-color: azure;
}


.mobile {
    display: none;
}


/* Adaptação para mobile */

@media (max-width: 800px) {

    #menu_principal {
        display: none;
    }

    #menu_hamburguer {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center center;
    }

    /* Formato de interruptor */


    #quem_sou.desktop {
        display: none;
    }

    #quem_sou.mobile {

        display: grid;
    }

}